<ng-container *ngIf="items !== undefined && items.length > 0">
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead [class.thead-light]="isBasket || isOrder" class="border-0" [class.bg-light]="isOrder || isBasket">
        <tr>
          <th scope="col" style="padding: 1.20em;">
            <div class="px-3 text-uppercase">
              Product
            </div>
          </th>
          <th scope="col" style="padding: 1.20em;">
            <div class="text-uppercase text-center">Price</div>
          </th>
          <th scope="col" style="padding: 1.20em;">
            <div class="text-uppercase text-center">Quantity</div>
          </th>
          <th scope="col" style="padding: 1.20em;">
            <div class="text-uppercase text-center">Total</div>
          </th>
          <th scope="col" *ngIf="isBasket" class="border-0" style="padding: 1.20em;">
            <div class="text-uppercase text-center">Remove</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <th scope="row">
            <div class="p-2">
              <img src="{{ item.pictureUrl }}" alt="{{ item.productName }}" class="img-fluid" style="max-height: 50px;">
              <div class="ms-3d-inline-block align-middle">
                <h5 class="mb-0">
                  <a routerLink="/shop/{{  item.id || item.productId }}" class="text-dark">
                    {{ item.productName }}
                  </a>
                </h5>
                <span class="text-muted font-weight-normal font-italic d-block">
                  Type: {{ item.type }}
                </span>
              </div>
            </div>
          </th>
          <td class="align-middle text-center">
            <strong>{{ item.price | currency }}</strong>
          </td>
          <td class="align-middle text-center">
            <div class="d-flex align-items-center justify-content-center">
              <i *ngIf="isBasket" class="fa fa-minus-circle fa-2x text-warning me-2 actions"
                (click)="decrementItemQuantity(item)"></i>
              <span class="font-weight-bold quantity">
                <strong>{{ item.quantity }}</strong>
              </span>
              <i *ngIf="isBasket" class="fa fa-plus-circle fa-2x text-warning mx-2 actions"
                (click)="incrementItemQuantity(item)"></i>
            </div>
          </td>
          <td class="align-middle text-center">
            <strong>{{ item.price * item.quantity | currency }}</strong>
          </td>
          <td class="align-middle text-center" *ngIf="isBasket">
            <i class="fa fa-trash" style="font-size: 2em; cursor: pointer;" (click)="removeBasketItem(item)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>