.cart-no {
  background: blue;
  border-radius: 50%;
  color: white;
  font-size: 1em;
  min-height: 25px;
  min-width: 25px;
  position: absolute;
  right: 32px;
  text-align: center;
  top: -12px;
}

a {
  color: #343a40;
  text-decoration: none;

  &.active {
    color: orange;
  }
}

.app-nav {
  font-size: larger;
}

.logo {
  cursor: pointer;
  max-height: 70px;

  &:focus {
    outline: none;
  }
}
