.cart-no {
  background: blue;
  border-radius: 50%;
  color: white;
  font-size: 1em;
  min-height: 25px;
  min-width: 25px;
  position: absolute;
  right: 32px;
  text-align: center;
  top: -12px;
}
